
.vs/XBONEmu/v16/.suo

.vs/XBONEmu/v16/Browse.VC.db

.vs/XBONEmu/v16/Browse.VC.db-shm

.vs/XBONEmu/v16/Browse.VC.db-wal

.vs/XBONEmu/v16/Browse.VC.opendb

.vs/XBONEmu/v16/Solution.VC.db

.vs/XBONEmu/v16/Solution.VC.db-shm

.vs/XBONEmu/v16/Solution.VC.db-wal

.vs/XBONEmu/v16/ipch/AutoPCH/8299304402e0752c/MAIN.ipch

.vs/XBONEmu/v16/ipch/AutoPCH/8612a4ede345dcbe/MAIN.ipch

.vs/XBONEmu/v16/ipch/AutoPCH/d775efa8387bea0b/MAIN.ipch

x64/Debug/XBONEmu.Launcher.exe

x64/Debug/XBONEmu.Launcher.ilk

x64/Debug/XBONEmu.Launcher.pdb

XBONEmu.Launcher/main.cpp

XBONEmu.Launcher/x64/Debug/main.obj

XBONEmu.Launcher/x64/Debug/vc142.idb

XBONEmu.Launcher/x64/Debug/vc142.pdb

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.exe.recipe

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.log

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.tlog/CL.command.1.tlog

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.tlog/CL.read.1.tlog

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.tlog/CL.write.1.tlog

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.tlog/link.command.1.tlog

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.tlog/link.read.1.tlog

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.tlog/link.write.1.tlog

XBONEmu.Launcher/x64/Debug/XBONEmu.Launcher.tlog/XBONEmu.Launcher.lastbuildstate
