
.vs/XBONEmu/v16/.suo

.vs/XBONEmu/v16/Browse.VC.db

.vs/XBONEmu/v16/Browse.VC.db-shm

.vs/XBONEmu/v16/Browse.VC.db-wal

.vs/XBONEmu/v16/Browse.VC.opendb

.vs/XBONEmu/v16/Solution.VC.db

.vs/XBONEmu/v16/Solution.VC.db-shm

.vs/XBONEmu/v16/Solution.VC.db-wal
